footer {
	margin-bottom: 0%;
	padding: 50px;
	background-color: $background-color_3;
}
.redes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 20px;
}
a {
	text-decoration: none;
	padding: 10px;
	color: $color_2;
}