@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap";
@include transformHeader(3em);
* {
	padding: 0;
	margin: 0;
	font-family: $font-family_1;
}
h1 {

	padding: 10px;
	margin: 10px;
	color: $color_1;
	text-align: center;
}
p {
	display: flex;
	margin: 20px;
	align-items: center;
	text-align: justify;
}