.event1 {
	grid-area: event1;
}
.event2 {
	grid-area: event2;
}
.event3 {
	grid-area: event3;
}
.event4 {
	grid-area: event4;
}
.event5 {
	grid-area: event5;
}
.tour {
	display: grid;
	margin-bottom: 1.5rem;
	background-clip: border-box;
	padding: 30px;
	grid-template-areas: "event1" "event2" "event3" "event4" "event5";
}
.ticketLink2 {
	background-color: $background-color_4;
	font-weight: bold;
	color: $color_1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin-bottom: 1.5em;
	gap: 20px;
	justify-items: center;
	width: 300px;
	height: 50px;
	margin-top: 10px;
	border: solid 4px;
}