iframe {
	width: 100%;
	align-items: center;
}
.videos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto auto;
	grid-template-areas: "video1 video2 video3" "video4 video5 video6";
}
.video1 {
	padding: 5px;
	grid-area: video1;
}
.video2 {
	padding: 5px;
	grid-area: video2;
}
.video3 {
	padding: 5px;
	grid-area: video3;
}
.video4 {
	padding: 5px;
	grid-area: video4;
}
.video5 {
	padding: 5px;
	grid-area: video5;
}
.video6 {
	padding: 5px;
	grid-area: video6;
}