@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');


* {
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
}

body {
    background-color: white;
}


h1 {
    padding: 10px;
    margin: 10px;
    color: black;
    text-align: center;
}

img {
    width: 68%;
    margin-top: 10px;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}

iframe {
    width: 100%;
    align-items: center;
}

.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "video1 video2 video3"
        "video4 video5 video6";
}

.video1 {
    padding: 5px;
    grid-area: video1;
}

.video2 {
    padding: 5px;
    grid-area: video2;
}

.video3 {
    padding: 5px;
    grid-area: video3;
}

.video4 {
    padding: 5px;
    grid-area: video4;
}

.video5 {
    padding: 5px;
    grid-area: video5;
}

.video6 {
    padding: 5px;
    grid-area: video6;
}

header {
    padding: 5px;
    background-color: black;
}


a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

ul li {
    color: white;
    list-style-type: none;
}

.icon {
    width: 50px;
    height: 50px;
}

footer {
    background-color: grey;
    padding: 50px;
    margin: 0px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.tour {
    padding: 10px;
    margin: 20px 20px 80px 20px;
    background-clip: border-box;
    background: black;

}

.event {
    height: 50px;
    color: black;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: solid 0.5px;
}



.ticketLink {
    background-color: rgba(177, 171, 176, 0.795);
    font-weight: bold;
    color: black;
}

p {
    display: flex;
    margin: 20px;
    align-items: center;
    text-align: justify;
}

.albums {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "horses radioEthiopia"
                         "easter wave";
}

.horses {
    grid-area: horses;
}

.radioEthiopia {
    grid-area: radioEthiopia;
}

.easter {
    grid-area: easter;
}

.wave {
    grid-area: wave;
}


@media screen and (max-width: 786px) {
    .albums {
        grid-template-columns: 100vw;
        grid-template-rows: auto;
        grid-template-areas: "horses"
                             "radioEthiopia"
                             "easter"
                             "wave";
    }
}

@media screen and (max-width: 576px) {
    .albums {
        grid-template-columns: 100vw;
        grid-template-rows: auto;
        grid-template-areas: "horses"
                             "radioEthiopia"
                             "easter"
                             "wave";
    }
}

@media screen and (max-width: 786px) {
    .videos {
        grid-template-columns: 50vw;
        grid-template-rows: auto;
        grid-template-areas: "video1 video2"
                             "video3 video4"
                             "video5 video6";
    }
}

@media screen and (max-width: 576px) {
    .videos {
        grid-template-columns: 100vw;
        grid-template-rows: auto;
        grid-template-areas: "video1"
                             "video2"
                             "video3"
                             "video4"
                             "video5"
                             "video6";
    }
}