
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(255, 255, 255, 0.925);
}

header{
    background-color: black;
    padding: 80px;
}

ul {
    list-style-type: none;
}

a{
    color: white;
}

ol li {
    display: inline-block;
}

h1{
    color: thistle;
    padding: 40px;
    border: 20px solid blueviolet;
    text-align: center;
    margin: 80px 40px;
}

p{
    padding: 40px;
    margin:  400px 60px;
    border: 10px solid cornflowerblue;
}

.dos{
    border: 10px solid red;
    border-radius: 50px;
}

img{
    margin-top: 80px;
    margin-left: 200px;
    border: 10px double blueviolet;
    border-radius: 1cm;
}

footer{
    padding: 80px;
    margin-top: 400px;
    background-color: blueviolet;
}




div{
    color: white;
    background-color: black;
    padding: 20px;
    margin: 10px;
}

.flex{
    height: 500px;
    background-color: blueviolet;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}